* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: gray;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

/* Container principal */
.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  text-align: center;
}

/* Título */
.titulo h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.titulo p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* Conversor box */
.gerador {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

/* QR Code centralizado */
.qrWrapper {
    margin-top: 20px;
    text-align: center;
}

#qrCode {
    display: inline-block; 
}

/* Input */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 15px;
  font-size: 14px;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 7px;
  background: linear-gradient(90deg, #4b6cb7, #182848);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #182848, #4b6cb7);
}